.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);

  div {
    background-color: rgba(110, 204, 57, 0.6);
  }
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);

  div {
    background-color: rgba(240, 194, 12, 0.6);
  }
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);

  div {
    background-color: rgba(241, 128, 23, 0.6);
  }
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 22px;

  div {
    width: 34px;
    height: 34px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 17px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  span {
    line-height: 34px;
  }
}